// UTILITIES
@import 'utilities/_normalize.scss';
@import 'utilities/_variables.scss';
@import 'utilities/_mixins.scss';
// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
// PAGES
@import 'pages/_coming-soon.scss';
// LAYOUT
@import 'layout/_header.scss';
@import 'layout/_front.scss';
@import 'layout/_about.scss';
@import 'layout/_skills.scss';
@import 'layout/_my_work.scss';
@import 'layout/_contacts.scss';
@import 'components/_animations.scss';
#background {
    height: auto;
    background-color: $primary;
    position: relative;
    .square {
        position: absolute;
        z-index: 1;
        right: 90%;
        background-color: $primary-dark;
        width: 50%;
        height: 100%;
        transform: skew(-16deg);
        @include responsive_1500 {
            width: 60%;
            right: 80%;
            transform: skew(-10deg);
        }
        @include responsive_1000 {
            width: 70%;
            right: 80%;
            transform: skew(-5deg);
        }
        @include responsive_500 {
            width: 50%;
            right: 85%;
            transform: skew(-4deg);
        }
    }
}
// remove blue highlihts after click
button,
textarea,
input,
select,
div,
a{
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
  user-select: none;
}
.coming-soon{
    background-color: #1e2833;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    }
