#my-work {
    margin-top: 8rem;
    position: relative;
    z-index: 2;
    height: auto;
    bottom: 50%;
    display: flex;
    flex-direction: column;


    .title-holder {
        width: 50%;


        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        @include responsive_1300 {
            margin: auto;
            width: 80%;
        }

        .title {

            width: 100%;
            text-align: center;
            color: #40e0d0;
            font-size: 120px;
            // transform: translateX(-150px);
            text-shadow: 4px 2px #ff0000;
            font-family: 'Alfa Slab One', cursive;
        }

        .title2 {

            width: 100%;
            text-align: center;
            color: #202b38;
            font-size: 114px;
            font-family: 'Alfa Slab One', cursive;
            -webkit-transform: scaleY(-2) skewX(-70deg);
            -ms-transform: scaleY(-2) skewX(-70deg);
            transform: scaleY(-2) skewX(33deg) translateX(-26px)translateY(4px);
            letter-spacing: 5px;


        }


    }

    .cards-holder {
        width: 80%;
        margin: auto;
        height: auto;
        transform: translateY(-60px);

        .card {
            height: auto;
            display: flex;
            flex-direction: column;
            border-radius: 18px;
            background-color: rgba(255, 255, 255, .05);
            backdrop-filter: blur(10px);
            box-shadow: 13px 5px 31px #07111d;
            transform-style: preserve-3d;
            transform: perspective(2000px);
            margin-bottom: 4rem;

            .card-title {
                margin: 0 auto;
                padding: 2rem;
                color: turquoise;
                width: 80%;
                font-family: $montserrat;
                font-size: 50px;
                font-weight: 400;
                @include responsive_1000 {
                
                   font-size: 40px;
                 }
            }

            span {

                color: turquoise;
                font-size: 30px;

            }

            .card-slider {
                width: 80%;
                margin: auto;
                height: auto;
                border-radius: 10px;

            }

            .card-features {
                width: 75%;
                margin: auto;
                margin-top: 3rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                li {
                    width: 100%;
                    font-size: 20px;
                    color: #248e83;
                    font-family: $montserrat;
                }

                .features {
                    display: flex;
                    flex-wrap: wrap;
                    width: 50%;
                    font-family: $montserrat;

                    @include responsive_1300 {
                        width: 40%;

                    }

                    @include responsive_1000 {
                        width: 100%;

                    }


                }

                .admin-features {
                    width: 50%;
                    font-family: $montserrat;

                    @include responsive_1000 {
                        width: 100%;

                    }

                    span {
                        @include responsive_1000 {
                            display: block;
                            width: 100%;

                        }
                    }

                }


            }

            .card-tech {
                width: 75%;
                margin: 2rem auto;
                font-family: $montserrat;

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: start;

                    li {
                        margin-bottom: 1rem;

                        width: 15%;
                        list-style: none;
                        font-size: 20px;
                        color: #248e83;
                        font-family: $montserrat;

                        @include responsive_1300 {
                            width: 30%;

                        }
                    }
                }
            }

            .card-buttons {
                width: 70%;
                margin: 2rem auto;
                display: flex;
                justify-content: space-between;

                a {
                    width: 25%;
                    padding: 1rem;
                    text-align: center;
                    text-decoration: none;
                    font-family: $montserrat;
                    border: 1px solid turquoise;
                    color: turquoise;

                    &:hover {
                        background-color: #19232f;
                    }
                }


            }

        }



        //    .card-stats {
        //      grid-area: stats; 
        //      display: grid;
        //      grid-template-columns: 1fr 1fr 1fr;
        //      grid-template-rows: 1fr;
        //      border-bottom-left-radius: 15px;
        //      border-bottom-right-radius: 15px;
        //      background: rgb(255, 7, 110);
        //    }
        //    .card-stats .stat {
        //      padding:10px;
        //      display: flex;
        //      align-items: center;
        //      justify-content: center;
        //      flex-direction: column;
        //      color: white;
        //    }
        //    .card-stats .border {
        //      border-left: 1px solid rgb(172, 26, 87);
        //      border-right: 1px solid rgb(172, 26, 87);
        //    }
        //    .card-stats .value{
        //      font-size:22px;
        //      font-weight: 500;
        //    }
        //    .card-stats .value sup{
        //      font-size:12px;
        //    }
        //    .card-stats .type{
        //      font-size:11px;
        //      font-weight: 300;
        //      text-transform: uppercase;
        //    }


    }
}